/*
 * どうしてもの時
 * <タグ class=".wf-hachimarupop">文字のフォントを変える</タグ>
 */
.wf-nicomoji { font-family: 'Nico Moji'; }
.wf-yuseimagic { font-family: 'Yusei Magic', sans-serif; }
.wf-hachimarupop { font-family: 'Hachi Maru Pop', sans-serif; }


.top h1 { /* PC表示 左上の「月宮計画」 */
    font-family: 'Yusei Magic', sans-serif;
    font-weight: 500;
    font-style: normal;
}
.top p { /* PC表示 左上の「TsukimiyaBE」 */
    font-family: 'Nico Moji', sans-serif;
    font-weight: 400;
    font-style: normal;
}
body, input, textarea, select {
    font-family: 'Yusei Magic', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container h2, .container p.alt {
    font-family: 'Hachi Maru Pop', sans-serif;
    font-style: normal;
}
.container p, .container h2.alt {
    font-family: 'Yusei Magic', sans-serif;
    font-style: normal;
}


/* 写真を浮かび上がらせる */
img { transition-duration: 0.75s; }
img:hover {
    transform: scale(1.05, 1.05);
    transition-duration: 0.75s;
}

/* ボタンを浮かび上がらせる */
.button { transition-duration: 2.0s; }
.button:hover {
    transform: scale(1.08, 1.08);
    transition-duration: 2.0s;
}
.button.scrolly {
    font-family: 'Nico Moji';
}


/* 左バーのボトム部分 */
.bottom a.viewer:hover::before {
    content: attr(data-text)"";
}


/*
 * スクロールアニメーション
 * class="scrollanime" フェードイン
 * class="scrollanime downup" 下から上へ
 * class="scrollanime updown" 上から下へ
 * class="scrollanime slide-left" 右から左へ
 * class="scrollanime slide-right" 左から右へ
 */
.scrollanime {opacity: 0;}
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% { opacity: 0; }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}

.sect02{overflow: hidden;}
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}


/* ポップアップ (参考: weapon.html) */
.popup_wrap input {
    display: none;
}
.popup_overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}
.popup_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
}
.popup_content {
    position: relative;
    align-self: center;
    width: 90%;
    max-width: 800px;
    padding: 30px 30px 15px;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transition: 0.5s;
}
.close_btn {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 30px;
    cursor: pointer;
}
.popup_wrap input:checked ~ .popup_overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}
.open_btn {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    margin:10px auto;
    padding: 8px 16px;
    color: #fff;
    background:#0c0d62;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    cursor: pointer;
    transition: .3s ease;
}
.open_btn:hover{
    background:#000;
    color:#fff;
    transition: .3s ease;
}